name: Release

on:
  push:
    tags:
      - v*

permissions:
  contents: write

jobs:
  tests:
    uses: ./.github/workflows/test.yaml
  release:
    runs-on: ubuntu-latest
    needs: [tests]
    env:
      GO_VERSION: 1.23.2
    container:
      image: ghcr.io/goreleaser/goreleaser-cross:${{ env.GO_VERSION }}
      env:
        CGO_ENABLED: 1
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: 'true'
          fetch-depth: 0

      - name: Run GoReleaser in Docker
        run: goreleaser release --clean
