name: Release

on:
  push:
    tags:
      - v*

permissions:
  contents: write

jobs:
  tests:
    uses: ./.github/workflows/test.yaml
  release:
    runs-on: ubuntu-latest
    needs: [ tests ]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: addnab/docker-run-action@v3
        name: Run GoReleaser in Docker
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: ghcr.io
          image: goreleaser/goreleaser-cross:v1.23.2
          options: -v ${{ github.workspace }}:/work -e CGO_ENABLED=1 -e GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}
          run: release --clean