name: Release

on:
  push:
    tags:
      - v*

permissions:
  contents: write

jobs:
  tests:
    uses: ./.github/workflows/test.yaml
  release:
    runs-on: ubuntu-latest
    needs: [tests]
    container:
      image: ghcr.io/goreleaser/goreleaser-cross:v1.23.2
      env:
        CGO_ENABLED: 1
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: ls
        run: ls -lah

      - name: ls
        working-directory: /__w/seru/seru
        run: ls -lah

      - name: Run GoReleaser in Docker
        working-directory: /__w/seru/seru
        run: goreleaser release --clean
