name: Release

on:
  push:
    tags:
      - v*

permissions:
  contents: write

jobs:
  tests:
    uses: ./.github/workflows/test.yaml

  release-linux:
    runs-on: ubuntu-latest
    needs: [ tests ]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23.2'

      - name: Install crosscompiler
        run: sudo apt-get -y install gcc-aarch64-linux-gnu

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --config .goreleaser-linux.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release-darwin:
      runs-on: macos-latest
      needs: [ tests ]
      steps:
        - uses: actions/checkout@v4
          with:
            fetch-depth: 0

        - name: Set up Go
          uses: actions/setup-go@v5
          with:
            go-version: '1.23.2'

        - name: Run GoReleaser
          uses: goreleaser/goreleaser-action@v6
          with:
            distribution: goreleaser
            version: "~> v2"
            args: release --config .goreleaser-darwin.yaml
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish:
    runs-on: ubuntu-latest
    needs:
      - release-darwin
      - release-linux
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --config .goreleaser-publish.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

