name: Release

on:
  push:
    tags:
      - v*

permissions:
  contents: write

jobs:
  tests:
    uses: ./.github/workflows/test.yaml
  release:
    runs-on: ubuntu-latest
    needs: [tests]
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GOLANG_CROSS_VERSION: v1.23.2
      PACKAGE_NAME: github.com/mandoway/seru
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run GoReleaser in Docker
        run: docker run \
          --rm \
          -e CGO_ENABLED=1 \
          -v /var/run/docker.sock:/var/run/docker.sock \
          -v `pwd`:/go/src/$(PACKAGE_NAME) \
          -v `pwd`/sysroot:/sysroot \
          -w /go/src/$(PACKAGE_NAME) \
          ghcr.io/goreleaser/goreleaser-cross:${GOLANG_CROSS_VERSION} \
          release --clean
